<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A website, by jimdel." />
    <meta name="title" content="{{.PageMetaData.Title}}" />
    <title>{{.PageMetaData.Title}}</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {{template "header" . }}
    <main class="p-4 h-full overflow-scroll md:py-20 py-32">
      {{template "page" . }}
    </main>
  </body>
</html>

<!-- Header -->
{{define "header" }}
<header
  class="fixed top-0 left-0 w-full p-4 flex flex-col md:flex-row justify-between text-white bg-green-600"
>
  <a href="/">
    <h1
      class="text-2xl font-semibold font-mono tracking-widest text-center md:text-left mb-4 md:mb-0 cursor-pointer"
    >
      jimdel.io
    </h1>
  </a>
  <nav class="flex justify-between pr-2 tracking-tight">
    <a class="hover:text-black font-bold mx-2 cursor-pointer" href="/blog"
      >Blog</a
    >
  </nav>
</header>
{{ end }}
<!-- END  -->
